html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: system-ui, sans-serif;
  padding: 1rem;
  height: 100vh;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  grid-gap: 1rem;
  height: 100%;
}

p:has(+ p) {
  margin-bottom: 1rem;
}

.col {
  background-color: rgb(218, 223, 206);
  padding: .5rem;
}

.col--shelf{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(15rem,1fr));
}

.col--reading{
  container-type: inline-size;
  container-name: reading;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.col--table{
  container-type: inline-size;
  container-name: table;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.col--over {
  border: dashed .5rem darkgreen;
}

.book {
  background-color: #eee;
  cursor: move;
  padding: .5rem;

  background-image: linear-gradient(90deg, rgb(35, 35, 35,.5), rgba(255, 255, 255, 0.5), rgb(35, 35, 35,.5));

  display: flex;
  justify-content: center;
}

.book__title {
  font-size: 1rem;
  font-weight: bold;
  writing-mode: vertical-lr;
  rotate: 180deg;
}

.book__excerpt {
  display: none;
}

.book__author {
  display: none;
}

.book__cover {
  display: none;
}

@container reading (min-width: 40rem) {
  .book {
    background-image: none;
    display: flex;
    flex-flow: column nowrap;
  }

  .book__title {
    writing-mode: horizontal-tb;
    rotate: 0deg;
    font-size: 1.5rem;
  }

  .book__excerpt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    font-size: .9rem;
    line-height: 1.5;
    margin-top: 1rem;
  }

  .book__author {
    display: block;
    margin-top: 3rem;
  }
}

@container table (max-width: 60rem) {
  .book{
    aspect-ratio: 3/4;
    background-image: none;
    display: grid;
    padding: 0;
    justify-content: unset;
  }

  .book__title {
    grid-column: 1;
    grid-row: 1;
    writing-mode: horizontal-tb;
    rotate: 0deg;

    align-self: start;
    justify-self: center;
    text-align:center;

    margin-top: 25%;
    color: white;
    font-size: 1.5rem;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    line-height: 1.5;
  }

  .book__author {
    display: block;
    grid-column: 1;
    grid-row: 1;

    align-self: end;
    justify-self: center;
    text-align:center;

    margin-bottom: 15%;
    color: white;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);

    z-index: 2;
  }

  .book__cover {
    display: block;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
} 